 <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a  href="javascript:void(0)" target="_self" ui-sref="admindashboard.home" class="navbar-brand"><img src="public/assets/admin/images/launchafunnel_logo.png" alt="logo" /></a>
        </div>
        <div class="navbar-collapse collapse navbar-right" id="navbar">
          <!-- ul class="nav navbar-nav">
          	<li>
                <a href="javascript:void(0)"  target="_self" class="green-btn" data-toggle="modal" ng-click="showFunneltype(2)" >
                <i class="fa fa-plus-circle"></i> Create a New Funnel</a>
            </li>
            <li ui-sref-active="active"><a  ui-sref="myfunnels" href="javascript:void(0)"  target="_self">My Funnels</a></li>
            <!-- <li><a href="javascript:void(0)"  target="_self" >Tutorial</a></li>-->
           <!-- </ul> -->
             <ul class="nav navbar-nav">
          	
            <li ng-class="{active:isActive('/logout')}" ng-click="adminlogout()"><a href="javascript:void(0)" target="_self"><i class="fa fa-power-off"></i> Logout</a></li>
           </ul>
          <!-- ul class="user-info pull-left pull-none-xsm"> 
              <!-- Profile Info --> 
             <!-- <li class="profile-info dropdown">
                  <!-- add class "pull-right" if you want to place this from right --> 
                 <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)" aria-expanded="false"> 
                    My Account <!--<img width="34" class="img-circle" src="public/assets/admin/images/avatar.png" alt="Profile" />-->
                  <!--  <span class="caret"></span> 
                  </a> 
                  <ul class="dropdown-menu" ng-controller="mysettingsController">
                 	<li><a ng-click="account(1)" href="javascript:void(0)"  target="_self" ><i class="fa fa-cog"></i> Settings</a></li>
                    <!--<li><a ui-sref="account" ui-sref="myfunnels" href="javascript:void(0)"  target="_self"><i class="fa fa-list-alt"></i> My Funnels</a></li>--> 

                  <!--  <li><a ng-click="account(2)" target="_self"><i class="fa fa-lock"></i> Change Password</a></li>

                    <li ng-class="{active:isActive('/logout')}" ng-click="logout()"><a href="javascript:void(0)" target="_self"><i class="fa fa-power-off"></i> Logout</a></li>
                 </ul>  -->
              </li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    
   
