<div class="wrapper right-side">
		<div class="template-section">
			<div class="navbar-header">
			<a href="javascript:void(0)" onclick="toggleDisplay();" class="nav-toggle toggledisplays"><i class="fa fa-bars"></i></a>
			</div>
			<div class="main-wrapper" id="takescreenshot">
				<div ng-if="Header==1" class="top_header" ng-style="{'background-color' : styleArr[1]['default_value']}">
				<a ng-if="logo_1==1" href="javascript:void(0)" target="_self" ng-click ="checkImageData('header_image' , 'logo_1',header_image)" >
				<img src="public/assets/template/videofunnel-salesvideo/images/{{header_image}}" alt="logo" /> 
				</a> 
				</div>

				<div class="main_part" ng-style="{'background-color' : styleArr[3]['default_value']}" set-height>
					<div class="container">
						<div class="center_part" ng-class="{'center-part-hide': text_1==0 && text_2==0 && video_1==0 && text_3==0 && text_4==0 && tab_1==0 && text_6==0}" ng-style="{'background-color' : styleArr[2]['default_value']}">
							<a ng-if="text_1==1" href="javascript:void(0)" target="_self" class="banner_text1" ng-click ="checkData('vid_title' , 'text_1')"
							ng-model ="vid_title"  ng-bind-html="vid_title" ></a>
							<span ng-if="text_2==1" class="vid_subtitle" ng-click="checkData('vid_subtitle' , 'text_2')" ng-model ="vid_subtitle"  ng-bind-html="vid_subtitle"></span>
						
						<div class="video">
							<div class="elVideoSkin1" ng-if="video_1==1">
								<div class="fluid-width-video-wrapper">
								<div class="video-iframe">
								<a href="javascript:void(0)" ng-model="vid_url" ng-bind-html="vid_url" ng-click ="checkData('vid_url' , 'video_1')" target="_self">
								<!--<img src="public/assets/template/facebook-tab/images/video.gif" alt="Video" />-->
								</a>
								<a class="cog_icon video-icon" ng-click ="checkData('vid_url' , 'video_1')"><i class="fa fa-cog"></i></a>
								</div>
								</div>
							</div>

							<span ng-if="text_3==1" ng-click ="checkData('video_text' , 'text_3')" ng-model ="video_text"  ng-bind-html="video_text" ></span>

							<a ng-if="text_4==1" href="javascript:void(0)" target="_self" ng-click ="checkData('details_title' , 'text_4')" ng-model ="details_title"  ng-bind-html="details_title" >
							</a>
							<div ng-if="tab_1==1" class="button" style="position:relative" ng-style="{'background-color' : styleArr[29]['default_value']}">
								<a href="javascript:void(0)" target="_self" class="action-btn" ng-click ="checkWindowData('details_link' , 'tab_1', 'details_link_value')" ng-model="details_call_to_action" ng-bind-html="details_call_to_action"> </a>
								<a class="cog_icon_videofunnel" ng-click="checkData('details_call_to_action' , 'text_4')"><i class="fa fa-cog"></i>
								</a>  
							</div>
								<a ng-if="text_6==1" href="javascript:void(0)" target="_self" ng-click ="checkData('detail_text1' , 'text_6')" ng-model ="detail_text1"  ng-bind-html="detail_text1" >
							</a>
						</div>
					</div>
					<div class="footer-videofunnel" ng-class="{'footer-videofunnel-hide': text_7==0 && text_8==0 }">
						<span ng-if="text_7==1" ng-click ="checkData('copyright_title' , 'text_7')" ng-model ="copyright_title"  ng-bind-html="copyright_title"></span>
						<a ng-if="text_8==1" href="javascript:void(0)" target="_self" ng-click ="checkData('copyright_text' , 'text_8')"
						ng-model ="copyright_text"  ng-bind-html="copyright_text" >
						</a>
					</div>    
				</div>
				</div>
			</div>
		</div>
</div>
