 <loginbeforeheader></loginbeforeheader>
 <div class="user-log">
     	<div class="container">
        	<div class="bg">
        	
            	<div class="header-section">
                	Forgot Password
                </div>
                <div class="user-body">
                <div id="emailloader"></div>
					<form role="form"   data-validate="parsley" validate-form="" novalidate="novalidate"  id="forgotpassword_form" ng-submit="forgotpassword_form.$valid && forgotpassword()" name="forgotpassword_form" >
					<div class="alert alert-danger" ng-if="emailvalid">
					<strong>{{emailvalid}}</strong> 
					</div>
				    <div class="alert alert-success" ng-if="emailsuccess">
					<strong>{{emailsuccess}}</strong>
					</div>
					 <div class="form">
                	<div class="user-row clearfix">
                    	<label><img alt="Email" src="public/assets/frontend/images/email.png"></label>
                        <input type="email" value="" name="email" ng-model="email_id" class="form-control" placeholder="E-mail" required>
                    </div>

                    <div class="user-row clearfix">
                    	<button type="submit" id="forgotpassword_btn"  class="btn blue-btn">Send Mail</button>
                    	
                    </div>
					</div>
                    </form>

                </div>
            </div>
        </div>
     </div>
