 <loginbeforeheader></loginbeforeheader>
 <div class="user-log">
     	<div class="container">
        	<div class="bg">
            	<div class="header-section">
                	Log In to your Account
                </div>
                <div class="user-body">
                
					<form role="form"   data-validate="parsley" validate-form="" novalidate="novalidate"  id="login_form" ng-submit="login_form.$valid && login()" name="login_form" >
					<div class="alert alert-danger" ng-if="auth.error">
					<strong>{{auth.error.data.error}}</strong> 
					
					
					</div>
					 <div class="form">
                	<div class="user-row clearfix">
                    	<label><img src="public/assets/frontend/images/user.png" alt="User" /></label>
                        <input type="email" value="" name="email" ng-model="email" class="form-control" placeholder="E-mail" required>
                    </div>
                    <div class="user-row clearfix">
                    	<label><img src="public/assets/frontend/images/lock.png" alt="Password" /></label>
                        <input type="password" value="" name="password" ng-model="password" class="form-control" placeholder="Password" required>
                    </div>
					
                    <div class="user-row clearfix">
                    	<label><input type="checkbox"  data-group="yes" /></label>Remember me
                    </div>
                    <div class="user-row clearfix">
                    	<button type="submit" id="login_btn"  class="btn blue-btn">Login</button>
                    	<!-- a ng-click="auth.login()" class="btn blue-btn">Login</a> -->
                    </div>
					</div>
                    </form>
                    <div class="links">
                        <a href="/usersignup" class="pull-left">Register Now</a>
                        <a href="/forgotpassword" class="pull-right">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
     </div>
