 <loginbeforeheader></loginbeforeheader>
 <div class="user-log" ng-controller="AuthController">
     	<div class="container">
        	<div>
            	<div class="header-section">
                <div class="wait">You are getting redirected for Payment, Please do not refresh or hit back button. </div>
                <div class="loader">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
                </div>
                <div class="user-body" id="test">
               </div>
            </div>
        </div>
     </div>
