 <loginbeforeheader></loginbeforeheader>
 <div class="user-log">
     	<div class="container">
        	<div class="bg">
            	<div class="header-section">
                	Reset Password
                </div>
                <div class="user-body">
                 <div id="emailloader"></div> 
					<form role="form"   data-validate="parsley" validate-form="" novalidate="novalidate"  id="resetpassword_form" ng-submit="resetpassword_form.$valid && resetpassword()" name="resetpassword_form" >
					<div class="alert alert-danger" ng-if="reset_pass_error_message">
					<strong>{{reset_pass_error_message}}</strong> 
					</div>
				    <div class="alert alert-success" ng-if="reset_pass_success_message">
					<strong>{{reset_pass_success_message}}</strong>
					</div>
					 <div class="form">
					
                	<div class="user-row clearfix">
						<label><img src="public/assets/frontend/images/lock.png" alt="Password" /></label>
						<input class="form-control" type="password" id="reset_password" value="" ng-model="reset_new_password" placeholder="New password" required>
  					</div>
                	<div class="user-row clearfix">
		         		<label><img src="public/assets/frontend/images/lock.png" alt="Password" /></label>
						<input class="form-control" type="password" id="reset_confirm_paswd" value="" ng-model="reset_confirm_password" data-equalto="#reset_password" placeholder="Confirm password" required>
  					</div>
                    <div class="user-row clearfix">
                    	<button type="submit" id="resetpassword_btn"  class="btn blue-btn">Reset Password</button>
                    </div>
					</div>
                    </form>

                </div>
            </div>
        </div>
     </div>
