<div id="editor" ng-controller="funnelController">
 
 
  <!-- Navigation -->
  <stateloadingindicator></stateloadingindicator>
        <header></header>
        <!------------------------Custom settings -------------------------->
        <customsetting></customsetting>
       <!--  <div  ng-include="'public/views/admin/custom_setting.html'" ng-show="custom_setting_status" class="int-settings"></div> -->
		 <!------------------------Left Side bar -------------------------->
		<sidebar></sidebar>
		 <!------------------------All Popups -------------------------->
		<popups></popups>
		 <!------------------------Template settings -------------------------->
 		<template></template>
 		
    </div>  
   
 
